li.tag a {padding:0px;}
ul.post {list-style:none;padding:0px;margin:0px;}
ul.post li {background-color:#EDEFF4;padding:4px;margin-top:1px;margin-left:0px;}
ul.post li.comment{margin-left:30px;}
ul.post li img.profile-picture {float:left;margin-right:5px;}
.clr{clear:both;}
