<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="/static/js/route.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>-->
</head>
<body>
    <div class="row">
        <div class="well">
            <legend>Tags</legend>
            <ul class="nav nav-pills">
                {% for h in tags %}
                <li><a href="/tag/{{h|urlencode}}">{{h}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <ul class='post'>
            {% for p in post %}
            <li><img src="https://graph.facebook.com/{{ p["from"]["id"]}}/picture?type=small" class="profile-picture"></img>{{ p["from"]["name"] }} {{ p["message"] }}<div class="clr"></div></li>
            {% if "comments" in p %}
                {% for c in p["comments"]["data"] %}
                <li class="comment"><img src="https://graph.facebook.com/{{ c["from"]["id"]}}/picture?type=small" class="profile-picture"></img>{{ c["from"]["name"] }} {{ c["message"] }}<div class="clr"></div></li>
                {% endfor %}
            {% endif %}
            {% endfor %}
        <ul>
    </div>
</body>
</html>
